<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Header</title>
    <link rel="stylesheet" href="../assets/css/reset.css" />
    <link rel="stylesheet" href="../assets/css/styles.css" />
    <script src="./main.js" defer></script>
  </head>

  <body>
    <header class="wrapper">
      <div class="logo-box">
        <h1><a href="./index.html">Rasmus Rafael Damgaard</a></h1>
      </div>

      <nav>
        <ul class="nav__list">
          <li class="nav__item">
            <a class="nav__link" href="./index.html">Home</a>
          </li>

          <li class="nav__item">
            <a class="nav__link" href="./illustrations.html">Illustrations</a>
          </li>

          <li class="nav__item">
            <a class="nav__link" href="./photography.html">Photography</a>
          </li>

          <li class="nav__item">
            <a class="nav__link" href="./documentary.html">Documentary</a>
          </li>

          <li class="nav__item">
            <a class="nav__link" href="./music.html">Music</a>
          </li>

          <li class="nav__item">
            <a class="nav__link" href="./veganism.html">Veganism</a>
          </li>

          <li class="nav__item">
            <a class="nav__link" href="./gamming.html">Gaming</a>
          </li>

          <li class="nav__item">
            <a class="nav__link" href="./rehab.html">Rehab</a>
          </li>

          <li class="nav__item">
            <a class="nav__link" href="./weblog.html">Weblog</a>
          </li>

          <li class="nav__item">
            <a class="nav__link" href="./contact.html">Contact</a>
          </li>
        </ul>
      </nav>
    </header>

    <h1>Music</h1>
  </body>
</html>
