/* CSS resets to make sure that all browsers are showing the same */

/* Set box-sizing for the whole site, and make the scroll behavior set to smooth  */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* Remove the margin for the body */
body {
  margin: 0;
}

/* Keep the h1 margin consistent even when nested */
h1 {
  margin: 0.67rem 0;
}

/* Make the `hr` line consistent  between browsers */
hr {
  border-style: solid;
  border-width: 1px 0 0;
  color: inherit;
  height: 0;
  overflow: visible;
}

/* Media files set to be responsive by default, and hide audio, thet has no controls */
img,
video,
video,
canvas,
audio,
iframe,
embed,
object {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 1rem;
}

svg {
  width: 100%;
  height: auto;
}

/* Remove the unnecessary wrapping `picture`, while maintaining contents.
   Source elements have nothing to display, so we hide them entirely */

picture {
  display: contents;
}

audio:not([controls]) {
  display: none;
}

source {
  display: none;
}

/*  There is no good reason elements default to 300px,
  and audio files are unlikely to come with a width attribute. */

audio {
  width: 100%;
}

/* Set container type on elements where we can use @container */
header,
footer,
main,
section,
article {
  container-type: inline-size;
}

/* Use the same font for inputs as the rest of the site */
input,
button,
textarea,
select {
  font: inherit;
}

/* For older browsers */
/*======================*/

/* Remove border on IE 10 and earlier */
img {
  border-style: none;
}

/* Hide the overflow in IE10 and earlier */
svg {
  overflow: hidden;
}

/* Default block display on HTML5 elements */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}
