@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

.lexend-thin {
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

:root {
  --clr-background: #111111;
  --clr-background-ac: #212121;
  --clr-header: #010101;
  --clr-text: rgb(173, 169, 169);
  --clr-link: rgb(128, 125, 125);
  --clr-link-hover: rgba(128, 125, 125, 0.7);
  --clr-border: #313535;
  --clr-headline: #ffffff;

  /* Fonts */
  --fs-small: 0.875rem;
  --fs-reg: 1.17rem;
  --fs-med: 1.5rem;
  --fs-large: 2rem;
  --fs-xl: 2.3rem;

  --ff-family: 'Lexend', systemUI;
}

/* ================================================ */
/* Base styles */

body {
  background-color: var(--clr-background);
  color: var(--clr-text);

  font-family: var(--ff-family);
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;
  grid-template-columns: 1fr;
}

a {
  color: var(--clr-link);
  transition: color 250ms ease-in-out;

  &:is(:hover, :focus) {
    color: var(--clr-link-hover);
  }
}

h1,
h2,
h3 {
  font-weight: 200;
  margin: 0.67em;
}

h1 {
  color: var(--clr-headline);
  font-size: var(--fs-large);
  line-height: 1;
}

h2 {
  font-size: var(--fs-med);
}

h3 {
  font-size: var(--fs-reg);
}
/* ================================================ */
/* header */

header {
  background-color: var(--clr-header);
  padding: 0.725em;
  box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.9);
}

.header {
  --flex-dir: column;
  --flex-gap: 0.5em;
  --flex-justify: center;

  & h1 a {
    cursor: pointer;
    font-size: var(--fs-xl);
    line-height: 1;
    color: #ffffff;
  }
}

.logo-box h1 a {
  text-decoration: none;
}

.nav__list {
  --flex-dir: row;
  --flex-gap: 0.25rem;
  --flex-align: center;

  flex-wrap: wrap;
  margin: 0;
}const slider = document.querySelector(".slider");
const nextBtn = document.querySelector(".next-btn");
const prevBtn = document.querySelector(".prev-btn");
const slides = document.querySelectorAll(".slide");
const slideIcons = document.querySelectorAll(".slide-icon");
const numberOfSlides = slides.length;
var slideNumber = 0;

//image slider next button
nextBtn.addEventListener("click", () => {
  slides.forEach((slide) => {
    slide.classList.remove("active");
  });
  slideIcons.forEach((slideIcon) => {
    slideIcon.classList.remove("active");
  });

  slideNumber++;

  if(slideNumber > (numberOfSlides - 1)){
    slideNumber = 0;
  }

  slides[slideNumber].classList.add("active");
  slideIcons[slideNumber].classList.add("active");
});

//image slider previous button
prevBtn.addEventListener("click", () => {
  slides.forEach((slide) => {
    slide.classList.remove("active");
  });
  slideIcons.forEach((slideIcon) => {
    slideIcon.classList.remove("active");
  });

  slideNumber--;

  if(slideNumber < 0){
    slideNumber = numberOfSlides - 1;
  }

  slides[slideNumber].classList.add("active");
  slideIcons[slideNumber].classList.add("active");
});

//image slider autoplay
var playSlider;

var repeater = () => {
  playSlider = setInterval(function(){
    slides.forEach((slide) => {
      slide.classList.remove("active");
    });
    slideIcons.forEach((slideIcon) => {
      slideIcon.classList.remove("active");
    });

    slideNumber++;

    if(slideNumber > (numberOfSlides - 1)){
      slideNumber = 0;
    }

    slides[slideNumber].classList.add("active");
    slideIcons[slideNumber].classList.add("active");
  }, 4000);
}
repeater();

//stop the image slider autoplay on mouseover
slider.addEventListener("mouseover", () => {
  clearInterval(playSlider);
});

//start the image slider autoplay again on mouseout
slider.addEventListener("mouseout", () => {
  repeater();
});


.nav__link {
  text-transform: uppercase;
  font-size: var(--fs-reg);
  padding: 0.25em 0.5em;
  border-radius: 10px;
  transition: all 250ms ease-in;

  &:is(:hover, :focus) {
    color: var(--link);
    background-color: #fff2;
  }
}

.active {
  background-color: #fff2;
  color: var(--link);
}

/* ================================================ */
/* Footer */
footer {
  margin-block-start: 2rem;
  border-top-color: red;
}
.footer {
  --flex-dir: column;
  --flex-align: center;
  --flex-gap: 1rem;
  --flex-justify: flex-start;

  padding-block-start: 1rem;
  padding-block-end: 1.5rem;
}

.social {
  --flex-dir: row;
  --flex-justify: space-between;
  --flex-align: center;
  --flex-gap: 1rem;
}

.social-icon {
  width: 3.75rem;
  fill: var(--clr-text);
}
