:root {
  --background: #111111;
  --background-ac: #212121;
  --header: #010101;
  --text: rgb(173, 169, 169);
  --link: rgb(128, 125, 125);
  --link-hover: rgba(128, 125, 125, 0.7);
  --border: #313535;
  --headline: #ffffff;

  /* Fonts */
  --fs-small: ;
  --fs-reg: ;
  --fs-med: ;
  --fs-large: 2.3rem;
  --fs-xl: ;

  --ff-family: 'Lexend', sans-serif;
}

body {
  background: var(--background);
  color: var(--text);
}

a {
  color: var(--link);
  transition: color 250ms ease-in-out;

  &:is(:hover, :focus) {
    color: var(--link-hover);
  }
}
body {
  grid-template-columns: 1fr;
}
h1,
h2,
h3 {
  font-weight: 300;
}

h1 {
  color: var(--headline);
}

header {
  padding: 0.725em;
  border-color: var(--text);
}

.header {
  --flex-dir: column;
  --flex-gap: 0.875em;
  --flex-justify: center;

  & h1 {
    font-size: var(--fs-large);
    line-height: 1;
  }
}

.logo-box h1 a {
  text-decoration: none;
}

.nav__list {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  align-items: center;
}

.nav__link {
  font-size: 1.4rem;
  padding: 0.25em 0.5em;
  border-radius: 10px;
  transition: all 250ms ease-in;

  &:is(:hover, :focus) {
    color: var(--link);
    background-color: #fff2;
  }
}

.active {
  background-color: #fff2;
  color: var(--link);
}

/* ================================================ */
/* Footer */
footer {
  margin-block-start: 2rem;
  border-top-color: red;
}
.footer {
  --flex-dir: column;
  --flex-align: center;
  --flex-gap: 1rem;
  --flex-justify: flex-start;

  padding-block-start: 1rem;
  padding-block-end: 1.5rem;
}

.social {
  --flex-dir: row;
  --flex-justify: space-between;
  --flex-align: center;
  --flex-gap: 1rem;
}

.social-icon {
  width: 3.75rem;
  fill: var(--text);
}
