/* Text only for screen readers */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
  display: none;
}

/* Container to give a little space left and right and to stop the page to be larger than 1800px */
.wrapper {
  width: calc(100vw - 2rem);
  margin-inline: auto;
}

@media (width > 750px) {
  width: 95%;
  max-width: 1800px;
}

/* Set the are as a grid */
.grid {
  display: grid;
}

/* set the page to three rows, for pages without a hero area */
.row-3 {
  grid-template-rows: auto 1fr auto;
}

/* Set page to four rows, for pages that uses a hero area */
.row-4 {
  grid-template-rows: auto auto 1fr auto;
}

/* Ser area as a flex area, user css variables to customize the area */
.flex {
  display: flex;
  flex-direction: var(--flex-dir, row);
  justify-content: var(--flex-justify, space-between);
  align-items: var(--flex-align, center);
  gap: var(--flex-gap, 1em);
}

/* Set a border on top of the area */
.divider-top {
  border-block-start-style: solid;
  border-block-start-width: var(--border-top, 3px);
  border-block-start-color: var(--clr-text);
  padding-block-start: var(--divider-padding, 1rem);
}

.divider-bottom {
  border-block-end-style: solid;
  border-block-end-width: var(--border-width, 3px);
  border-block-end-color: var(--clr-text);
}

/* When you need light or dark text for an image overlay */
.light-text {
  color: var(--clr-text);
}

.dark-text {
  color: var(--clr-header);
}

/* Set a margin top bottom and both */
.margin-top {
  margin-block-start: var(--margin, 1rem);
}

.margin-bottom {
  margin-block-end: var(--margin, 1rem);
}

.margin-both {
  margin-block: var(--margin, 1rem);
}
