/* Text only for screen readers */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
  display: none;
}

.wrapper {
  width: calc(100vw - 2rem);
  margin-inline: auto;
  max-width: 112.5rem;
}

.grid {
  display: grid;
}

.flex {
  display: flex;
  flex-direction: var(--flex-dir, row);
  justify-content: var(--flex-justify, space-between);
  align-items: var(--flex-align, center);
  gap: var(--flex-gap, 1em);
}

.divider-top {
  border-top: var(--border-top, 3px);
  padding-block-start: var(--divider-padding, 2rem);
}
